.equipForm-layout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 2000px;
}

.form-info{
    display: flex;
    gap: 150px;
    align-items: flex-start;
}


.equipment-form .input ,
.equipment-form .select,
.maintenance-form .input,
.maintenance-form .select{
    margin-top: 30px;
}

.equipment-form .input input:not([type="checkbox"]),
.equipment-form .select select,
.maintenance-form .input input,
.maintenance-form .select select{
    width: 280px;
}

.equipment-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-top: 9px;
}

.maintenance-form h3 {
    color: #B45309;
    background-color: #FFF3E0;
    padding: 5px 8px;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;
}

.form-operation {
    display: flex;
    gap: 12px;
    margin-top: 36px;
}
.equipment-image-edit{
    width: 430px;
    height: 360px;
    object-fit: contain;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}


.equipment-form input:disabled,
.equipment-form select:disabled {
    background-color: #f3f4f6;
    color: #6b7280;
    cursor: not-allowed;
    opacity: 1;
}

#submit-button{
    background-color:#2E8B57;
    color: white;
    border: 1px solid #2E8B57;
}
#submit-button:hover{
    background-color:#34a063;
}

@media (max-width: 1000px) {
    .form-info {
        gap: 40px;
        flex-wrap: wrap;
    }

    .equipment-image-edit {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .form-info {
        flex-direction: column;
        gap: 20px;
    }

    .equipment-form .input input:not([type="checkbox"]),
    .equipment-form .select select,
    .maintenance-form .input input,
    .maintenance-form .select select {
        width: 100%;
    }
}