.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 1000px;
    padding: 25px;

    border-radius: 6px;
}

.modal-content h2 {
    margin-top: 0;
    font-size:30px
}

.modal-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-content p {
    margin: 5px 0;
}

.delete-warning {
    margin-top: 25px !important;
    font-weight: 600;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
}

#confirm-delete-button {
    background-color: #8b2e2e;
    color: white;
    border-color: #8b2e2e;
}

#confirm-delete-delete-button:hover {
    background-color: #6f2424;
}

#confirm-cancle-button{
    background-color: #2E8B57;
    color:white;
}
#confirm-cancle-button:hover{
    background-color: #39a869;
}

.delete-layout{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 1200px;
}
.delete-layout .equipment-iamge-delete img{
    margin-left: 180px;
    width: 350px;
    height: 280px;
    object-fit: contain;
    flex-shrink: 0;

    border: 1px solid #D1D5DB;
    border-radius: 6px;
}
