
.equipment-filters .select:last-of-type {
    margin-right: 50px;
}

.equipment-form {
    max-width: 900px;
    
}
.form-info {
    display: flex;
    gap: 35px;
}


.basic-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.basic-info,
.location {
    flex: 1;
}



.form-operation {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.equipment-form .input,
.equipment-form .select {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 20px;
}

.equipment-form .input label,
.equipment-form .select h3 {
    width: auto;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.equipment-form .input input:not([type="checkbox"]),
.equipment-form .select select {
    width: 280px;
}

.equipment-form input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0;
}