html {
    font-size: clamp(18px, 2vw, 20px); /* Responsive root font size */
    height: 100vh;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #F5F7F6;
    color: #1F2937;

    font-family: 'Inter', sans-serif;

    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
}

h2,
h3 {
    font-weight: 600;
}

p,
label,
input,
select,
button {
    font-weight: 400;
}

#body-container{
  min-height: 100vh; /* At least the full viewport height */
  display: flex;  /* Start flex layout */
  flex-direction: column; /* Header, page-container, Footer stack vertically */
}

header{
    background-color: #256d44;
    color: white;
    padding: 18px 28px;
}

footer {
    background-color: #2E8B57;
    color: white;
    padding: 18px 28px;
}

main {
    flex: 1;
}

.main-content {
    padding: 10px clamp(20px, 4vw, 30px) 20px;
}

strong {
    font-weight: 700;
}

h1{
    text-transform: uppercase;
    font-family: inherit, sans-serif;
}
h2,
h3,
h4 {
    font-family: inherit, sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
    margin: 12px 0 0;
}

h1 {
    color: #1F2937;
    font-size: 1.4rem;
    font-weight: 700;
}

h2 {
    color: #1F2937;
    font-size: 1.1rem;
    font-weight: 600;

    margin-top: 28px;
    margin-bottom: 12px;
}

h3 {
    color: #1F2937;
    font-size: 1.1rem;
    font-weight: 700;
}

p {
    margin: 6px 0;
}

.page-container {
    display: flex; /* Parent starts flex layout for Sidebar + main */
    flex: 1;  /* Take the remaining height between Header and Footer */
}

.text-link {
    color: #2E8B57;
    text-decoration: none;
    font-weight: 600;
}

.text-link:visited {
    color: #2E8B57;
}

.text-link:hover {
    color: #26734A;
    text-decoration: underline;
}

button{
    background-color: white;
    color: #2E8B57;
    border: 1px solid #2E8B57;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    
    font-size: 16px;
    font-weight: 600px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease;

}

button:hover {
    background-color: #F3F6F4;
}

