.form-item {
    display: flex;
    flex-direction: column;
}

.input,
.select{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.input label,
.select h3{
    color: #1F2937;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

input, select{
    height: 36px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background-color: white;
    color: #1F2937;
    margin-top: 9px;
}

.error {
    color: #b03a2e;
    font-size: 0.8rem;
    margin: 0;
}

