.form-item {
    display: flex;
    flex-direction: column;
}

.input,
.select{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.input label,
.select h3{
    color: #1F2937;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

input, select{
    height: 36px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background-color: white;
    color: #1F2937;
    margin-top: 9px;
}

.error {
    color: #b03a2e;
    font-size: 0.8rem;
    margin: 0;
}

button {
    background-color: #2E8B57;
    color: white;
    border: 1px solid #2E8B57;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* 
.input,
.select {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-top: 20px;

}

.input label{
    color: #1F2937;
    font-size: 20px;
    font-weight: 600;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.select h3 {
    color: #1F2937;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-left: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input input,
.select select {
    height: 36px;
    padding: 0 10px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background-color: white;
    color: #1F2937;
    margin-left:10px;
    margin-left:0px;
}
 */
